@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    overflow: hidden;
  }
}

.gradient-background {
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
}

.gradient-background::before {
  content: "";
  position: absolute;
  top: 55%;
  left: 55%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background: radial-gradient(
      circle at 50% 50%,
      rgba(147, 197, 253, 0.2) 0%,
      transparent 70%
    ),
    radial-gradient(
      circle at 40% 40%,
      rgba(196, 181, 253, 0.25) 0%,
      transparent 65%
    ),
    radial-gradient(
      circle at 60% 60%,
      rgba(167, 243, 208, 0.2) 0%,
      transparent 70%
    ),
    radial-gradient(
      circle at 55% 45%,
      rgba(252, 165, 165, 0.15) 0%,
      transparent 60%
    );
  pointer-events: none;
  z-index: 0;
  filter: blur(40px);
}
